/* Instellingen tussen commentaar zijn handig om fouten te helpen vinden, uncomment om aan te zetten */

/* zorg dat elke box een gestippelde rand krijgt, 
   zodat je de afmeting goed kunt zien, 
   letop 1: dit kan de layout soms kan wijzigen 
   letop 2: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {border: 1px dotted black;}   */
  
/* zorg dat elke box een doorzichtige donkere achtergrond krijgt, 
   hoe meer boxen in elkaar hoe donkerder de achtergrondkleur 
   letop: laat 1 sterretje voor { staan als je commentaar weghaalt */
/*  * {background-color: rgba(0,0,0,5%);}  */

/* Basisinstellingen voor alle pagina's, alleen aanpassen als je pro wilt worden */

* {                                        /* geldt voor alles */
  box-sizing: border-box;                  /* zorg dat border meetelt bij de width en height van boxen */
  margin: 0px;                             /* standaard marge 0 */
}

html, body {                      /* geldt voor html en body */
  margin: 0px;                    /* standaard marge 0 */
  background-color: #170202;    /* achtergrondkleur lichtgrijs */
  color: #030000;               /* tekstkleur donkergrijs */

}  

div {                             /* geldt voor div */
  overflow: hidden;               /* zorgt dat DIV de hoogte krijgt van wat erin zit (anders tellen de floats erin niet mee voor de hoogte en wordt dus wel eens hoogte 0) */
}

/* Indeling voor alle pagina's */

.page {
 /* width: 700px;                   /* vaste breedte van 700 pixels */
  margin: 10px auto;              /* boven en onder 10 pixels marge, links en rechts marge gelijk verdeeld (gecentreerd) */
}

header, footer {                  /* geldt voor header en footer */
  margin: 10px 0px;
}

main {                       
  text-align: justify;            /* tekst uitvullen */}

h1, h2, h3 {                      /* geldt voor h1 en h2 en h3 */
  margin: 10px 0px;
  text-align: center;             /* tekst centreren */
} 

p {
  margin: 10px 0px;
  text-align: justify;  
  color: white;          /* tekst links en rechts uitvullen */
}

img {
  margin: 10px 0px;
}

/* Indeling voor hoofd pagina */

/* .item {} */ /* hier doen we nog niks mee, dat mag je zelf toevoegen */

.item-plaatje {
  float: right;
  width: 250px;
  padding: 15px; /* zorgt dat plaatje niet tegen tekst komt */
  
}

.item-tekst {
  width: 100px; 
  height: 750px;
  margin-left: 950px;
  color: black;
  padding: 15px;
}

/* Indeling voor sub pagina */

/* Opmaak voor alle pagina's */

h1, h2, h3 {
      color: rgb(255, 217, 80);
      border-color: black;
      border: 5px; 
    }

.smalltext {
    text-align: center;
    font-size: 0.7em;
}

a {
    color: rgb(177, 32, 24);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Opmaak voor sub pagina's */

/* Navigatiebalk voor alle pagina's */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    bottom: 90%;
    margin-left: 740px;
   
}

nav ul li {
    float: left;
    

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 125%;
    font-family:'Times New Roman', Times, serif;
}

nav li a:hover {
    background-color: #090808;
}

nav li a.active {
    background-color: rgb(255, 209, 45);
}


#hfdpagina {
  background-image: url("afbeeldingen/cinema-cool.jpeg") ;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1500px;
}

.geschiedenis-plaatje {
  float: left;
  width: 375px;
  padding-right:10px;
  margin-left: 690px;


}

.home-plaatje {
  width: 250px;
  padding-left: 15px;
  margin-left: 980px;

}

.bottom-plaatje {
  height: 175px;
  width: 750px;
  padding: 15px;
}

.geschiedenis-tekst {
  margin-left: 850px;
  width: 575px; 
  color: white;
  height: 1200px;
}

#pagina2 {
  background-image: url("afbeeldingen/godfather.jpeg") ;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1700px;
  
}

#pagina3 { 
  background-image: url("afbeeldingen/lalaland.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1500px;
}

.blurry-background {
  background-color: rgba(255, 255, 255, 0.726);
  color: black;
  border: 2px solid rgb(255, 209, 45);
  border-radius: 7px;
  padding-right: 8px;
  padding-left: 8px;
  white-space: nowrap;
  backdrop-filter: blur(15px);
  width: 600px;
  height: 275px;
  margin-left: 800px;
}

#pagina4 {
  background-image: url("afbeeldingen/batman.jpeg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1450px;
}

.textpagina3 {
  margin-left: 900px;
  width: 450px; 
  color: white;
  height: 1200px;
}

.actie-plaatje {
  width: 300px;
  padding-right:10px;
  margin-left: 85px;
  border: 1px solid white;
}

.soorten-films {
  margin-left: 500px;
  width: 600px; 
  color: white;
  height: 1200px;
}

.plaatjehome2 {
  width: 1000px;
  border: 1px solid white;
  float: left;
  padding: 5px;
}

.home-bottomtekst {
  width: 90px; 
  color: white;
  height: 100px;
  border: none;
}

.plaatjehome3 {
  width: 275px;
  border: 1px solid white;
  margin-left: 200px;
  float: left;
  padding: 5px;
}

.plaatjehome4 {
  width: 260px;
  margin-left: 60px;
  border: 1px solid white;
  float: left;
  padding: 5px;

}

div.gallery {
  margin-right: 250px;
  border: 1px solid white;
  float: left;
  width: 400px
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  color: white;
  text-align: center;
}